 /* -Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */

 body {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: hsl(235, 18%, 26%);
 }

 .container {
     display: flex;
     text-align: center;
     background-color: hsl(0, 0%, 100%);
     border-radius: 30px;
     width: 800px;
     margin: 30px;
 }

 .container-1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20px;
 }

 .container-2 {
     margin: 30px;
 }

 .box-1 {
     color: hsl(234, 29%, 20%);
 }

 .box-2 {
     color: hsl(235, 18%, 26%);
 }

 .box-3 {
     color: hsl(235, 18%, 26%);
 }

 .box-4 {
     color: hsl(235, 18%, 26%);
 }

 .box-5 {
     color: hsl(235, 18%, 26%);
 }

 .box-6 {
     color: hsl(235, 18%, 26%);
 }

 .card-1 {
     height: 500px;
 }

 .small {
     display: flex;
     gap: 15px;
 }